<!DOCTYPE html>
<html lang="ko">
    <head th:replace="~{layouts/header :: headerFragment(~{::title})}">
        <title>Config</title>
    </head>
    <body>
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-4">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header">
                                        <h3 class="text-center font-weight-light my-4">Login</h3>
                                    </div>
                                    <div class="card-body">
                                        <a th:href="@{/oauth2/authorization/google}">
                                            <img src="assets/img/web_neutral_rd_SI.svg" />
                                        </a>
                                        <div th:if="${param.error}" class="alert alert-danger mt-3">
                                            Invalid username or password.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer th:replace="~{layouts/footer :: footerFragment}"></footer>
            </div>
        </div>
        <th:block th:replace="~{layouts/scripts :: scriptFragment}"></th:block>
    </body>
</html>
