<!DOCTYPE html>
<html lang="ko">
    <head th:replace="~{layouts/header :: headerFragment(~{::title})}">
        <title>Stock</title>
    </head>
    <body class="sb-nav-fixed">
        <nav th:replace="~{layouts/top :: top-nav}"></nav>
        <div id="layoutSidenav">
            <!-- Left Side Menu-->
            <div th:replace="~{layouts/left-side :: side-nav}"></div>

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Stock</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Stock</li>
                        </ol>

                        <div class="row">
                            <div class="md-4">
                                <input
                                    type="text"
                                    id="itmsNm"
                                    placeholder="종목명을 입력하세요"
                                    autocomplete="off"
                                    list="companiesList" />
                                <datalist id="companiesList"> </datalist>
                                <select id="numOfRows" name="selbox">
                                    <option value="60">60</option>
                                    <option value="90">90</option>
                                    <option value="180">180</option>
                                    <option value="365">365</option>
                                    <option value="730">730</option>
                                </select>
                                <button id="getStockInfo" class="btn-primary">조회</button>
                            </div>
                        </div>
                        <div class="row"></div>

                        <div class="row">
                            <div class="md-12">
                                <div class="card-header">
                                    <i class="fas fa-table me-1"></i>
                                    DataTable Example
                                </div>
                                <div class="card-body">
                                    <table id="itemTable" class="display data-table">
                                        <thead>
                                            <tr>
                                                <th>기준일</th>
                                                <th>이름</th>
                                                <th>종가</th>
                                                <th>전일등락</th>
                                                <th>시가</th>
                                                <th>고가</th>
                                                <th>저가</th>
                                                <th>거래량</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <footer th:replace="~{layouts/footer :: footerFragment}"></footer>
            </div>
        </div>

        <th:block th:replace="~{layouts/scripts :: scriptFragment}"></th:block>

        <!-- ECharts -->
        <script src="https://cdn.jsdelivr.net/npm/echarts@5.5.1/dist/echarts.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                var table = $("#itemTable").DataTable({
                    destroy: true, // 테이블을 재초기화할 수 있도록 설정
                    searching: false, // 검색 기능 비활성화
                    paging: true, // 페이지네이션 활성화
                    ordering: true, // 정렬 활성화
                });

                $("#getStockInfo").click(function (e) {
                    console.log("버튼이 클릭되었습니다."); // 로그를 통해 클릭 이벤트 확인
                    getStockPriceInfo(table);
                });

                const $itmsNm = $("#itmsNm");
                initializeInputEvents($itmsNm);
            });

            function getStockPriceInfo(table) {
                if ($("#itmsNm").val() === "") {
                    alert("종목명을 입력해주세요!");
                    return;
                }
                let jsonData = {
                    itmsNm: $("#itmsNm").val(),
                    numOfRows: $("#numOfRows").val(),
                    pageNo: 1,
                };

                $.ajax({
                    url: "/stock/getStockPriceInfo",
                    type: "GET",
                    data: jsonData,
                    success: function (items) {
                        table.clear().draw();

                        // items 배열을 순회하며 HTML 문자열 생성
                        items.forEach(function (item) {
                            table.row
                                .add([
                                    item.basDt,
                                    item.itmsNm,
                                    item.clpr,
                                    item.vs,
                                    item.mkp,
                                    item.hipr,
                                    item.lopr,
                                    item.mrktTotAmt,
                                ])
                                .draw();
                        });

                        $("#itemTable").DataTable();
                    },
                    error: function (xhr, status, error) {
                        alert("데이터를 가져오는 데 실패했습니다.");
                    },
                });
            }

            function initializeInputEvents($input) {
                $input.on("input", handleInputChange);
            }

            function handleInputChange() {
                const inputValue = $(this).val();
                console.log("입력된 값:", inputValue); // 입력된 값 출력
                // 추가적인 로직을 여기에 구현할 수 있습니다.
            }
        </script>
    </body>
</html>
